<head>
  <link rel="stylesheet" href="create-test-view.component.css" />
  <title>FitBert - Create a new test</title>
</head>

<body>
  <header>
    <h1>FitBert</h1>
    <nav>
      <a routerLink="/create-test">Create a New Test</a>
      <a href="#">Edit Completed Tests</a>
      <a href="#">Preferences</a>
      <a href="#">Logout</a>
    </nav>
  </header>
  
  <h2>Create a New Test</h2>
  
  <div class="container">
    <div class="test-name">
      <label for="test-name-input">Test Name:</label>
      <input
        type="text"
        id="test-name-input"
        placeholder="Enter the name of the test"
      />
    </div>

    <!-- Updated code for question section -->
    <app-question
      *ngFor="let question of questions; let i = index"
      [questionNumber]="i + 1"
    ></app-question>
    
    <button class="add-question-button" (click)="addQuestion()">+</button>
  </div>
</body>
