<head>
    <link rel="stylesheet" href="login-view.component.css">
    <title>FitBert - Login</title>
    <link rel="shortcut icon" href="Images/47-477493_blue-dot-clip-art-at-clker-blue-dot-icon-png.ico" type="image/x-icon">
</head>
<body>
    <div class="Logo">
        <h1>FitBert</h1>
    </div>
    <div class="custom-loader"></div>
    <div class="containerLogin">
        <h1>Login</h1>
        <form method="POST" action="">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
        <div class="register-link">
            <a href="#">Create New Account</a>
        </div>
    </div>
</body>
<form method="POST" action="myPage.php"></form>