<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <link rel="stylesheet" href="landing-view.component.css" />
  <title>FitBert - Landing Page</title>
</head>
<body class="fade-in">
  <header>
    <h1>QuizGenie</h1>
  </header>
  <div class="container">
    <div class="left-section">
      <p>
        Welcome to QuizGenie! Please scroll down to begin your test creation
        journey! Feel free to click on the genie for help!
      </p>
      <p class="sub-heading">
        It is important to note that this is an experimental version of
        the software (sometimes the desired outcome is not achieved)
      </p>
    </div>
    <button
      (click)="scrollToBottom()"
      id="scroll-to-bottom-button"
      [class.fade-out]="pressedScrollButton || userScrollManually"
    >
      Scroll Down <i class="fas fa-arrow-down"></i>
    </button>
    <div class="right-section">
      <div class="loader">
        <div class="box box0">
          <div></div>
        </div>
        <div class="box box1">
          <div></div>
        </div>
        <div class="box box2">
          <div></div>
        </div>
        <div class="box box3">
          <div></div>
        </div>
        <div class="box box4">
          <div></div>
        </div>
        <div class="box box5">
          <div></div>
        </div>
        <div class="box box6">
          <div></div>
        </div>
        <div class="box box7">
          <div></div>
        </div>
        <div class="ground">
          <div></div>
        </div>
      </div>
    </div>
  </div>

  <div class="chatbot-container">
    <div class="chat-output" id="chat-output">
      <div class="help-message, fade-in" *ngIf="showHelpMessage">
        <p>How to use the system:</p>
        <ul>
          <li>Step 1: Enter any academic material into the textbox below (textbook material works best)</li>
          <li>Step 2: Press the send button and let QuizGenie create a test from your entered information</li>
          <li>Step 3: Press the download PDF button to download a pdf version of the test you created</li>
          <li>Step 4: Click me again to close the instructions</li>
        </ul>
      </div>
      <div class="chat-loader" *ngIf="isLoading"></div>
      <pre>
        {{ generatedText }}
      </pre>
    </div>
    <div class="genie-input">
      <img
        src="/assets/genie_helper.jpg"
        alt="Genie"
        id="genie-image"
        (click)="toggleHelpMessage()"
      />
      <textarea
        id="user-input"
        [(ngModel)]="userInput"
        placeholder="Enter textbook information to be converted into a multiple choice test..."
      ></textarea>
    </div>
    <div class="button-container">
      <button id="send-button" (click)="sendUserInput()">Send</button>
      <button id="download-button" (click)="generatePDF()">Download PDF</button>
    </div>    
  </div>
</body>


