<head>
    <link rel="stylesheet" href="landing-view.component.css">
	<title>FitBert - Landing Page</title>
</head>
<body>
	<header>
		<h1>FitBert</h1>
		<nav>
				<a routerLink="/create-test">Create a New Test</a>
				<a href="#">Edit Completed Tests</a>
				<a href="#">Preferences</a>
				<a href="#">Logout</a>
		</nav>
	</header>
	<div class="container">
		<div class="left-section">
			<p>Welcome to Fitbert, the multiple choice test creating assistant. This is the main page, from here you can access options to create a new test, edit a completed test, change your preferences and logout of the system. Goodluck on your test making adventures!</p>
		</div>
		<div class="right-section">
                <div class="loader"></div>
		</div>
	</div>
</body>

